.container-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px;
}

canvas {
  height: 325px;
  width: 250px;
  color: var(--color);
}

#lines-word {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

#lines-word div {
  width: 40px;
  height: 45px;
  border-bottom: 5px solid var(--color);
}

#letters-incorrects {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}

#letters-incorrects span {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.keyboard {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.keyboard button {
  border: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  background-color: var(--color);
  color: var(--background-color);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (min-width: 426px) {
  canvas {
    height: 600px;
    width: 500px;
  }
}
