.content-info {
  display: flex;
  gap:30px;
  padding-bottom: 15px;
}

.info-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.info-player i {
  font-size: 2rem;
}

.info-player h4 {
  font-weight: 600;
  font-size: 0.9rem;
}

.info-player span {
  font-weight: 700;
  font-size: 1.5rem;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.div-buttons button {
  cursor: pointer;
  border-radius: 22px;
  background-color: var(--color);
  color: var(--background-color);
  font-size: 1.1rem;
  border: none;
  width: 250px;
  height: 80px;
}

.div-buttons button:hover {
  opacity: 0.75;
}

.div-buttons button + button {
  background-color: var(--background-color);
  color: var(--color);
  border: 1px solid var(--color);
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  main h2{
    font-size: 2rem;
  }

  .info-player i {
    font-size: 2.5rem;
  }
  
  .info-player h4 {
    font-size: 1rem;
  }
  
  .info-player span {
    font-size: 1.75rem;
  }

  .div-buttons button {
    font-size: 1.25rem;
  }

  .div-buttons button + button {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .keyboard button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}
